*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  display: flex;
  flex-direction: column;
  background-color: darkgray;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.sketch-div {
  aspect-ratio: 1;
  border: solid;
  border-width: thin;
  border-color: pink;
  background-color: lemonchiffon;
  text-align: center;
}

.sketch-div:hover {
  background-color: black;
}

.btn {
    padding: 1rem;
}