*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
}

.sketch-div {
  aspect-ratio: 1;
  border: solid;
  border-width: thin;
  border-color: pink;
  text-align: center;
}

.btn {
  padding: 1rem;
}
